.main-wrapper {
  position: relative;
  width: 100%;
  padding: 20px 60px 60px 60px;
  box-sizing: border-box;
}

.filter-section {
  position: relative;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
}

.results-number {
  position: relative;
  padding: 3px 8px;
  background-color: rgb(42, 119, 192);
  border-radius: 7px;
  color: white;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  margin-right: 7px;
  align-self: center;
}

.filter-input {
  position: relative;
  height: 22px;
  width: 216px;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 2px 8px;
}

.filter-input::placeholder {
  font-style: italic;
}

.home-grid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px));
  column-gap: 20px;
  row-gap: 100px;
  margin-top: 60px;
  grid-auto-rows: min-content;
}

.grid-item {
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.48) 0px 3px 8px;
}

.grid-item-info {
  position: relative;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.grid-item-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 6px;
}

.grid-item-title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 40px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.grid-item-author {
  position: relative;
  font-size: 13px;
  color: grey;
}
