.grid-item {
  position: relative;
  cursor: pointer;
  box-shadow: var(--regular-box-shadow);
}

.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.48) 0px 3px 8px;
}

.grid-item-info {
  position: relative;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.grid-item-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 6px;
}

.grid-item-title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 40px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.grid-item-author {
  position: relative;
  font-size: 13px;
  color: grey;
}